.searchBar{
    list-style:none;
    align-items:center;
    justify-content: right;
    display: flex;
    margin-left: auto;
    height: 75px;
    color: blueviolet;
}
.searchBar a {
    text-decoration: none;
    color: rgb(17, 16, 16);
    padding: 10px 20px;
    font-size: large;
    background-color: rgb(255, 0, 0);
    border: 2px solid transparent;
    display: inline-block;
    text-align: center;
}
.searchBar li {
    margin: 15px;
}
#wallPaper{
    position: flex;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: block;
    border: none;

}
header{
    top: 0;
    left: 0;
    width: 100%;
    height: screen;
    position: fixed;
    font-size: large;
    display: flex;
    padding-right: 20px;
    color: black;

}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: left;
}
#intro{
    top: 400px;
    margin-left: 210px;
    font-size: large;
    width: 450px;
}
#profile{

}
#work{

}
#quals{

}

#title{
    position: relative;
    color:rgb(182, 13, 13);
    margin-top: 100px;
    width: 100%;
    align-items: center;
    font-size: 100px;
    /*border: 200px, 200px, 200px, 200px;*/
    border-color: blue;
}
#content{
    position: relative;
    align-items: center;
    font-size: xx-large;
}